@page "/"
@using InternshipChat.DAL.Entities;
@using InternshipChat.WEB.Services.Contracts;
@inject InternshipChat.WEB.Services.Contracts.IMessageService messageService;

<PageTitle>Index</PageTitle>

<div class="form-group">
    <label>
        User:
        <input @bind="UserInput" />
    </label>
</div>
<button @onclick="Connect">Connect</button>


<div video-grid id="my-video-grid">

</div>

<h2></h2>

@code {
    private string UserInput { get; set; }

    private async Task Connect()
    {
        await _jsRuntime.InvokeVoidAsync("StartSignaling");
        await _jsRuntime.InvokeVoidAsync("StartLocalStream");
    }
}
