@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client;
@inject NavigationManager Navigation;
@inject IConfiguration Configuration

<PageTitle>InternshipChat.WEB</PageTitle>

<div class="page">
    <AuthorizeView>
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            <CascadingValue Value="hubConnection">
                @Body
            </CascadingValue>
        </article>
    </main>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
    private HubConnection hubConnection;
    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;
    protected override async Task OnInitializedAsync()
    {
        var url = Configuration["AppBase"] + "chathub";
        hubConnection = new HubConnectionBuilder().WithUrl(url).Build();
        await hubConnection.StartAsync();
    }
}