@inherits LayoutComponentBase
@using InternshipChat.WEB.Enums;
@using InternshipChat.WEB.Pages.VideoCall
@using InternshipChat.WEB.Services.Contracts;
@using InternshipChat.WEB.StateContainers;
@using Microsoft.AspNetCore.SignalR.Client;

<PageTitle>InternshipChat.WEB</PageTitle>

<div class="page">
    <AuthorizeView>
        <CallsListener></CallsListener>
        <div class="sidebar">
            <NavMenu />
        </div>
    </AuthorizeView>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

@code {
}