@page "/home"
@using InternshipChat.WEB.Pages.Attachments;
@using InternshipChat.WEB.Services.Contracts;
@inject IJSRuntime JS
@inject IImageService _imageService
@inject IDialogService DialogService
@inject NavigationManager navManager

<h1>ChatConnect: Revolutionizing Communication</h1>
<h2>Seamless User Experience</h2>
<p>
    ChatConnect is an extraordinary chat application designed to enhance your digital conversations like never before. Packed with cutting-edge features and a sleek, intuitive interface, ChatConnect is poised to redefine the way you connect with others.
</p>
<h2>Privacy and Security at the Core</h2>
<p>
    Your privacy and security are of utmost importance to us. ChatConnect employs state-of-the-art encryption protocols to ensure that your conversations and data remain confidential. You can chat with peace of mind, knowing that your personal information is safeguarded and that your messages are for your eyes only.
</p>

@code {

}
